:root {
  --navbar-height: 3.5rem;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #cccccc;
}

html.lg-on, .lg-container {
  overscroll-behavior: none;
}

#gallery {
  overscroll-behavior: none;
}

#map {
  height: calc(100% - var(--navbar-height));
  width: 100%;
  transition: height 0.25s linear;
}

.leaflet-container .leaflet-control-attribution a {
  color: #333;
}

.leaflet-container .leaflet-control-attribution {
  background: transparent !important;
  margin-right: 5px !important;
  margin-bottom: 5px !important;
}

.cluster-marker,
.photo-marker {
  position: relative;
  width: 60px; /* Width of the cluster image */
  height: 60px; /* Height of the cluster image */
}

.cluster-marker img,
.photo-marker img {
  border-radius: inherit;
}

.cluster-marker,
.photo-marker {
  border: 3px solid #fff;
  /* box-shadow: 3px 3px 5px -2px #333; */
}

.photo-marker {
  border-radius: 10%;
}

.cluster-marker {
  border-radius: 50%;
  background-size: 60px 60px;
}

.photo-marker .marker-count-badge {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -10px;
  margin-top: -10px;
  background-color: #1e90ff; /* Blue background */
  color: #fff; /* White text */
  border-radius: 5px; /* Rounded corners */
  padding: 2px 5px;
  font-size: 12px;
  font-weight: bold;
}

.cluster-marker .marker-count-badge {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 60px;
  font-size: 1.3em;
  font-weight: bold;
  color: #fff;
  width: 60px;
  text-align: center;
  background-color: transparent;
  border-radius: 10%;
  text-shadow: 1px 1px 2px #333;
}

/* Loading Overlay */

/* Overlay covering the entire screen */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - var(--navbar-height));
  background-color: #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999; /* High z-index to ensure it's on top */
  animation: fadeOutOverlay 2s ease forwards;
}

/* Spinning color wheel */
.color-wheel {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #ff5733; /* Red */
  border-right-color: #3498db; /* Green */
  border-bottom-color: #2ecc71; /* Blue */
  border-left-color: #f1c40f; /* Yellow */
  animation: spin 1s linear 0s infinite;
}

/* Keyframes for spinning the color wheel */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Keyframes for fading out the overlay */
@keyframes fadeOutOverlay {
  0% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Menu bar */

.bottom-nav {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #a3a3a3;
  border-top: 1px solid #6b7280;
  height: var(--navbar-height);
  z-index: 999;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.bottom-nav .nav-container {
  display: flex;
  justify-content: space-evenly;
  width: 25rem;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #fff; /* Adjust color as needed */
  width: 3.5rem;
  margin: auto 0;
}

.nav-item svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 1.5;
  /* fill: currentColor; */
}

.nav-item span {
  margin-top: 2px;
  font-family: 'Noto Sans Regular', sans-serif;
  font-size: 0.75em;
  font-weight: bold;
}

.nav-item:hover {
  color: #333; /* Adjust hover color as needed */
}
